/* show the dialog in the center of the screen */
#dialog-login .dialog-content,
#dialog-user-page .dialog-content,
#dialog-system-admin .dialog-content {
  box-sizing: border-box;
  /* maintain on screen even during scroll (potentially problematic on mobile) */
  position: fixed;
  /* when centering, try using FlexBox instead of this junk */
  top: 30%;
  left: 50%;
  width: 600px;
  height: 250px;
  transform: translate3d(-50%,-50%,0);

  /* dialogs are usually boxy things that are on top of everything */
  padding: 20px;
  border: 1px solid #CCC;
  background: white;
  z-index: 1000;
}

#dialog-login h1,
#dialog-registration h1,
#dialog-user-page h1,
#dialog-system-admin h1 {
  margin: 0;
  color: green;
  text-align: center;
}

#dialog-login footer,
#dialog-registration footer,
#dialog-user-page footer,
#dialog-system-admin footer {
    margin-top: 0px;
    height: 50px;
    padding-top: 30px;
}

